{% extends "base.njk" %}

{% from "document-list/macro.njk" import appDocumentList %}
{% from "masthead/macro.njk" import appMasthead %}
{% from "pagination/macro.njk" import appPagination %}
{% from "prose/macro.njk" import appProse %}
{% from "related/macro.njk" import appRelated %}
{% from "packages/components/hero/macro.njk" import hero %}

{% block main %}
  {{ hero({
    heading: "Healthy Start",
    text: "Document and share design decisions, keeping a record of designs we have created and user research we have gathered"
  }) }}
  {# TODO - Need to grab text from index.md
   {% call appMasthead({
    classes: "app-masthead--large" if eleventyNavigation.key == "home",
    title: {
      html: title | widont
    } if title,
    description: {
      html: description | widont | markdown
    } if description,
    startButton: startButton if startButton,
    image: image if image
  }) %}
    {{ appBreadcrumbs({
      classes: "app-breadcrumbs--inverted nhsuk-!-display-none-print",
      title: title,
      items: collections.all,
      key: eleventyNavigation.key
    }) if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent }}
  {% endcall %} #}

  <div class="nhsuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block content %}
      {{ appProse({
        prose: content
      }) }}
      <div class="nhsuk-grid-row">
        {# Paginate posts if front matter includes the pagination key #}
        {% if pagination %}
          <section class="nhsuk-grid-column-two-thirds">
            <h2 class="nhsuk-heading-l nhsuk-!-font-size-27">
              {{ "Posts" }}
            </h2>
            {{ appDocumentList({
              classes: "nhsuk-!-margin-bottom-6",
              items: pagination.items
            }) }}
            {{ appPagination({
              previous: {
                text: "Previous",
                href: pagination.href.previous
              } if pagination.href.previous,
              next: {
                text: 'Next',
                href: pagination.href.next
              } if pagination.href.next,
              selected: pagination.pageNumber,
              items: pagination.hrefs
            }) }}
          </section>
        {# List sections (pages whose parent is `home`) if homepage with no pagination key set #}
        {% elif eleventyNavigation.key == "home" %}
          <section class="govuk-grid-column-two-thirds">
            <div class="nhsuk-grid-row phase-cards">
              {% for item in collections.all | eleventyNavigation("home") %}
                <div class="nhsuk-grid-column-full">
                  <div class="nhsuk-card">
                    <section class="nhsuk-card__content">
                      <h3 class="nhsuk-card__heading nhsuk-!-margin-bottom-1">
                        <a href="{{ item.url | url | pretty }}">{{ item.title }}</a>
                      </h3>
                      <p class="nhsuk-body">{{ item.excerpt }}</p>
                    </section>
                  </div>
                </div>
              {% endfor %}
            </div>

          </section>
        {% endif %}

        <div class="nhsuk-grid-column-one-third">
          <div class="app-related-nav">
            <h2 class="app-related-nav__heading">
              Prototype
            </h2>
            <nav role="navigation" class="app-related-nav__nav-section">
              <ul class="app-related-nav__list">
                <li class="app-related-nav__item">
                  <a class="app-related-nav__link" href="https://apply-healthy-start-vouchers.herokuapp.com/" target="_blank">
                    Apply for Healthy Start Prototype <span class="nhsuk-u-visually-hidden">(opens in a new tab)</span>
                  </a>
                </li>
              </ul>
              <h3 class="nhsuk-heading-s">Login credentials</h3>
              <ul class="nhsuk-list nhsuk-body-s">
                <li>
                  Username: NHSBSA
                </li>
                <li>
                  Password: NHSBSA
                </li>
              </ul>
              <hr>
              <h2 class="nhsuk-heading-m">
                UR Reports
              </h2>
              <ul class="app-related-nav__list">
                <li class="app-related-nav__item">
                  <a class="app-related-nav__link" href="#" target="_blank">
                    Link to UR space <span class="nhsuk-u-visually-hidden">(opens in a new tab)</span>
                  </a>
                </li>
                <li class="app-related-nav__item">
                  <a class="app-related-nav__link" href="#" target="_blank">
                    Link to UR space <span class="nhsuk-u-visually-hidden">(opens in a new tab)</span>
                  </a>
                </li>
              </ul>
              <hr>
              <h2 class="nhsuk-heading-m">
                Contribute
              </h2>
              <p>You can also contribute to the Healthy Start design history, for help follow <a href="/how-to">our contribution guides</a>.</p>
            </nav>
          </div>
        </div>
      </div>
    {% endblock %}
    </main>
  </div>
{% endblock %}
