{% extends "base.njk" %}

{% from "document-list/macro.njk" import appDocumentList %}
{% from "masthead/macro.njk" import appMasthead %}
{% from "pagination/macro.njk" import appPagination %}
{% from "prose/macro.njk" import appProse %}
{% from "related/macro.njk" import appRelated %}
{% from "packages/components/hero/macro.njk" import hero %}

{% block main %}
  {{ hero({
    heading: "Get healthcare cover for travelling abroad",
    text: "Document and share design decisions, keeping a record of designs we have created"
  }) }}
  {# TODO - Need to grab text from index.md
   {% call appMasthead({
    classes: "app-masthead--large" if eleventyNavigation.key == "home",
    title: {
      html: title | widont
    } if title,
    description: {
      html: description | widont | markdown
    } if description,
    startButton: startButton if startButton,
    image: image if image
  }) %}
    {{ appBreadcrumbs({
      classes: "app-breadcrumbs--inverted nhsuk-!-display-none-print",
      title: title,
      items: collections.all,
      key: eleventyNavigation.key
    }) if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent }}
  {% endcall %} #}

  <div class="nhsuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block content %}
      {{ appProse({
        prose: content
      }) }}
      <div class="nhsuk-grid-row">
        {# Paginate posts if front matter includes the pagination key #}
        {% if pagination %}
          <section class="nhsuk-grid-column-two-thirds">
            <h2 class="nhsuk-heading-l nhsuk-!-font-size-27">
              {{ "Posts" }}
            </h2>
            {{ appDocumentList({
              classes: "nhsuk-!-margin-bottom-6",
              items: pagination.items
            }) }}
            {{ appPagination({
              previous: {
                text: "Previous",
                href: pagination.href.previous
              } if pagination.href.previous,
              next: {
                text: 'Next',
                href: pagination.href.next
              } if pagination.href.next,
              selected: pagination.pageNumber,
              items: pagination.hrefs
            }) }}
          </section>
        {# List sections (pages whose parent is `home`) if homepage with no pagination key set #}
        {% elif eleventyNavigation.key == "home" %}
          <div class="nhsuk-grid-column-two-thirds">
            <h2 class="nhsuk-heading-l nhsuk-!-font-size-27">
              {{ sections.title or app.sections.title or "Phases" }}
            </h2>
          </div>
          <section class="govuk-grid-column-two-thirds">
            <div class="nhsuk-grid-row phase-cards">
              {% for item in collections.all | eleventyNavigation("home") %}
                <div class="nhsuk-grid-column-one-half">
                  <div class="nhsuk-card">
                    <section class="nhsuk-card__content">
                      <h3 class="nhsuk-card__heading nhsuk-!-margin-bottom-1">
                        <a href="{{ item.url | url | pretty }}">{{ item.title }}</a>
                      </h3>
                      <p class="nhsuk-body">{{ item.excerpt }}</p>
                    </section>
                  </div>
                </div>
              {% endfor %}
            </div>
            {# <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                  <div class="nhsuk-card">
                    <section class="nhsuk-card__content">
                      <h3 class="nhsuk-card__heading nhsuk-!-margin-bottom-1">
                        <a href="/how-tos">How to</a>
                      </h3>
                      <p class="nhsuk-body">Visual instuctions for different tasks</p>
                    </section>
                  </div>
                </div>
            </div> #}
            <div class="nhsuk-care-card nhsuk-care-card--non-urgent noT-margin">
              <div class="nhsuk-care-card__heading-container">
                <h3 class="nhsuk-care-card__heading"><span role="text">Contribute to the design history</h3>
                <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
              </div>
              <div class="nhsuk-care-card__content">
                <div class="nhsuk-form-group">
                <p>If you have a post you would like to include in the design history then see contribution guides</p>
                <p>These include:</p>
                  <ul>
                    <li>run application locally</li>
                    <li>create a post</li>
                    <li>submit a post</li>
                    <li>generate a screenshot post</li>
                    <li>generate a new section</li>
                    <li>add a video</li>
                  </ul>
                </div>
                <a href="/how-to">Contribution guides</a>
              </div>
            </div>
          </section>
        {% endif %}
        <div class="nhsuk-grid-column-one-third">
          <div class="app-related-nav">
            <h2 class="app-related-nav__heading">
              Prototype
            </h2>
            <nav role="navigation" class="app-related-nav__nav-section">
              <ul class="app-related-nav__list">
                <li class="app-related-nav__item">
                  <a class="app-related-nav__link" href="https://ehic-prototype.herokuapp.com/" target="_blank">
                    Get healthcare cover for travelling abroad Prototype <span class="nhsuk-u-visually-hidden">(opens in a new tab)</span>
                  </a>
                </li>
              </ul>
              <h3 class="nhsuk-heading-xs">Login credentials</h3>
              <ul class="nhsuk-list nhsuk-body-s">
                <li>
                  Username: ehic
                </li>
                <li>
                  Password: sprint20
                </li>
              </ul>
            <hr>
            <h2 class="nhsuk-heading-m">
              UR Reports
            </h2>
              <ul class="app-related-nav__list">
                <li class="app-related-nav__item">
                  <a class="app-related-nav__link" href="https://bsa2468.atlassian.net/wiki/spaces/BP564/pages/1993474251/CRA+Alpha+1" target="_blank">
                    User Research reports <span class="nhsuk-u-visually-hidden">(opens in a new tab)</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    {% endblock %}
    </main>
  </div>
{% endblock %}
