// Custom scss file

// TODO the following override gov, we need to fix it so these are no longer needed.

/* font */
a, p, div, span {
  font-family: Frutiger W01, Arial, Sans-serif;
}

/* links */
a {
  color: #005eb8;
}
a:hover, .app-prose a:hover:not([class]) {
  color: #7C2855;
  text-decoration: none;
}

.app-prose a:focus:not([class]){
  color: #212b32;
}

.app-prose a:visited:not([class]) {
  color: #330072;
}

.app-prose a:active:not([class]) {
  color: #002f5c;
}

a:focus {
  background-color: #ffeb3b;
  box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
  color: #212b32;
  outline: 4px solid transparent;
  text-decoration: none;
}
/* /. */

/* footer links */
a.nhsuk-footer__list-item-link {
  color: #4c6272;
}

a.nhsuk-footer__list-item-link:visited {
  color: #4c6272;
}
/* /. */

/* search input */
// space between header and input on smaller devices
@media only screen and (max-width:899px) {
  .app-site-search__wrapper{
    margin-top:10px;
  }
}
/* /. */

/* breadcrumbs */
// Very temporary fix for showing breadcrumbs on mobile
@media (max-width: 40.0525em){
  .nhsuk-breadcrumb__list {
    display: block;
  }
  [aria-current] {
    display:none;
  }
  .nhsuk-breadcrumb__item {
    background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' fill='%23005eb8' height='24' width='24' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E") -8px center no-repeat;
  }
  .nhsuk-breadcrumb__item:visited {
    color: #005eb8;
   }
  .nhsuk-breadcrumb__item:visited:hover {
    color: #7C2855;
  }
  .nhsuk-breadcrumb__link{
    margin-left: 24px;
  }
  .ie8 .nhsuk-breadcrumb__item {
    display: none;
  }
}
/* /. */

// Remove max-width from the header logo/service name
.nhsuk-header__logo--only .nhsuk-header__link--service {
  max-width: 100%;
}

// Custom width for cards
.nhsbsa-card__flex {
  display: flex;
  flex-wrap: wrap;
}
.nhsbsa-card__one-third {
  width: 30.2%;
  margin-right: 30px;
}

// Related links
.app-related-nav {
  border-top: 2px solid #005eb8
}

@media (max-width: 48.0525em) {
  .app-related-nav {
      margin-top:48px
  }
}

.app-related-nav__heading {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 16px;
  padding-top: 16px
}

@media (min-width: 40.0625em) {
  .app-related-nav__heading {
      font-size:24px;
      font-size: 1.5rem;
      line-height: 1.2
  }
}

@media print {
  .app-related-nav__heading {
      font-size: 18pt;
      line-height: 1.2
  }
}

.app-related-nav__list {
  list-style: none;
  margin-bottom: 16px;
  padding-left: 0
}

.app-related-nav__item {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.71429
}

@media (min-width: 40.0625em) {
  .app-related-nav__item {
      font-size:16px;
      font-size: 1rem;
      line-height: 1.5
  }
}

@media print {
  .app-related-nav__item {
      font-size: 14pt;
      line-height: 1.2
  }
}

.app-related-nav__sub-heading {
  margin-bottom: 8px;
  padding-top: 8px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.2
}

@media (min-width: 40.0625em) {
  .app-related-nav__sub-heading {
      margin-bottom:8px
  }
}

@media (min-width: 40.0625em) {
  .app-related-nav__sub-heading {
      padding-top:8px
  }
}

@media (min-width: 40.0625em) {
  .app-related-nav__sub-heading {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.2
  }
}

@media print {
  .app-related-nav__sub-heading {
      font-size: 14pt;
      line-height: 1.2
  }
}
//Neat video embed
figure {
  margin: 0;
}

//code example
.app-pre {
    margin-bottom: 16px;
    background: #fff;
    border: 1px solid #d8dde0;
    margin-top: 0;
    overflow: auto;
    padding: 16px;
    position: relative
}
.hljs {
    background: #f8f8f8;
    color: #333;
    display: block;
    overflow-x: auto;
    padding: .5em
}
.hljs-string{
    color: #d14
}
.hljs-tag,.hljs-name,.hljs-attribute {
    color: #000080;
}
.hljs-attr{
    color: #007F80
}
